<!-- Start admin Page  -->
   <script>
       function uploadfile(){
           alert("Tải file lên thành công");
       }
   </script>
    <form action="/success">
    <div style="width: 100%;height: 100%;text-align: center ; margin-top: 20%;">
        <input type="file" id="myFile" name="filename">
        <input type="button" value="Tải lên" onclick="uploadfile()">
    </div>
        
    </form>
<!-- End admin Page -->